<ion-row>
  <ion-col class='slide' no-padding>
    <ion-slides slidesPerView="1.2" spaceBetween="0" centeredSlides autoplay="4000" loop="true" speed="2000">
      <ion-slide>
        <ion-card class='slide-card' no-shadow>
          <img class='slide-image' src='../../assets/imgs/slideImage1.jpg'>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class='slide-card' no-shadow>
          <img class='slide-image' src='../../assets/imgs/slideImage2.jpg'>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class='slide-card' no-shadow>
          <img class='slide-image' src='../../assets/imgs/slideImage3.jpg'>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-col>
</ion-row>
