  order-detail-slide {

    .slide-zoom {
      text-align: left !important;
    }

    .swiper-container {
      overflow: visible !important;
    }

    .swiper-slide {
      text-align: left !important;
    }

    .slide {
      min-height: 7em;
    }

    .slide-card {
      border-radius: 0.5em;
      margin-top: 1em;
      margin-bottom: 0;
      min-height: 7em;
      @include card-no-shadow();
    }

    img {
      width: 100%;
      height: 100%;
    }

    .image-box {
      width: 100%;
      height: 100%;
    }

    .voucher-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .left-content {
      padding: 0em;
    }

    .right-content {
      padding-top: 0em;
      padding-left: 0.5em;
    }

    .bottom-row {
      padding-top: 0.3em;
    }

    .bottom-right-col {
      position: relative;
    }

    .price-content {
      position: absolute;
      bottom: 0.3em;
      padding-left: 0.5em;
      padding-top: 0.5em;
    }

    .primary {
      font-size: 1.3em;
      font-weight: 400;
      padding-bottom: 0.2em;
      padding-left: 0.2em;
      padding-top: 0.4em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 2em;
    }

    .tertiary {
      color: $GREY_TEXT_WHITE;
      font-size: 0.9em;
      padding-left: 0.4em;
    }

    .quantity-sold {
      padding-left: 0.4em;
      font-size: 0.9em;
      color: $GREY_TEXT_WHITE_DARKER;
    }

    .currency {
      padding-top: 1.5em;
      text-align: right;
      font-weight: 500;
      color: $GRADIENT_BOTTOM;
    }

    .new-price {
      font-size: 1.8em;
      padding-top: 0.2em;
      padding-right: 0.1em;
      font-weight: 500;
      color: $GRADIENT_BOTTOM;
    }

    .base-price {
      padding-top: 1.5em;
      color: $GREY_TEXT_WHITE;
      text-decoration: line-through;
      font-size: 0.9em;
    }

    // Notice
    .notice-card {
      border-radius: 0.5em;
      margin-top: 1em;
      margin-bottom: 0;
      height: auto;
      padding: 1.3em 0.5em;
      @include card-no-shadow();
    }

    .notice-hint {
      padding-top: 0;
      font-size: 0.9em;
      color: $GREY_TEXT_WHITE_DARKER;
    }

    .notice-title {
      padding-top: 0em;
      padding-bottom: 0em;
      font-size: 1.3em;
      font-weight: 400;
      @include text-truncate-line(1);
    }

    .notice-content {
      padding-left: 0.4em;
      padding-bottom: 0;
      font-size: 0.9em;
      color: $GREY_TEXT_WHITE_DARKER;
      @include text-truncate-line(1);
    }

  }
