page-display {

  * {
    @include my-font();
  }

  .header-md::after {
    background-image: none !important;
  }

  .nav {
    padding: 0;
    background-color: white;
    border-bottom: 1px solid $GREY_BORDER_LINE;
  }

  .back-col {
    padding-left: 0;
    padding-right: 0;
  }

  .back-icon {
    width: 1.5em;
  }

  .nav-icon {
    font-size: 1.5em;
    color: $GREY_ICON_WHITE_DARKER;
  }

  .header-title {
    font-size: 1.5em;
    margin: 0;
  }

  .master {
    background-color: $GREY_BODY_BACKGROUND;
  }

  .scroll-content {
    padding-bottom: 1em;
  }

  // center image
  .imageBox {
    width: 100%;
    height: 100%;
  }

  .centerImage {
    position: relative;
    top: 5em;
    display: block;
    margin: 0 auto;
  }

}
