voucher-detail-limited {

  .card {
    border-radius: 0.5em;
    padding: 0.8em;
    @include card-no-shadow();
    width: 90%;
    margin-top: 0.4em;
    margin-left: auto;
    margin-right: auto;
  }

  .timeLeft {
    font-size: 1.3em;
    font-weight: 400;
    text-transform: capitalize;
  }

  .title-inactive {
    font-weight: 200 !important;
    color: $GREY_TEXT_WHITE_DARKER;
  }

  .title-inactive2 {
    font-weight: 200 !important;
    color: $GREY_TEXT_WHITE_DARKER;
  }

  .progress-outer {
    width: 100%;
    margin: 0em;
    padding: 1px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    color: $GREY_TEXT_GREY;
  }

  .progress-inner {
    min-width: 18%;
    white-space: nowrap;
    overflow: hidden;
    padding: 2px;
    border-radius: 20px;
    font-weight: 400;
    color: white;
    @include my-gradient($GRADIENT_TOP, $GRADIENT_BOTTOM);
  }

  .progress-inner-inactive {
    min-width: 15%;
    white-space: nowrap;
    overflow: hidden;
    padding: 1px;
    border-radius: 20px;
    background-color: $GREY_SEARCH_BAR_ACTIVE;
    color: $GREY_TEXT_GREY;
  }

  .progress-inner-inactive2 {
    min-width: 15%;
    white-space: nowrap;
    overflow: hidden;
    padding: 1px;
    border-radius: 20px;
    font-weight: 200;
    background: $GREY_SEARCH_BAR_ACTIVE !important;
    color: $GREY_TEXT_GREY;
  }

  //Skeleton Screen////////////////////////////////////////////////////

  .skeleton-timeLeft {
    margin-left: 21%;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    border-radius: 0.2em;
    height: 1.6em;
    max-width: 12em;
    @include animated-background();
  }

  .skeleton-progress-outer {
    border-radius: 0.2em;
    height: 1.6em;
    max-width: 100%;
    @include animated-background();
  }
}
