confirm-voucher-control {

  .quantity-price-box {
    border-radius: 0.5em;
    margin: 0 auto;
    height: 4.75em;
    @include card-no-shadow();
  }

  .quantity-price {
    font-size: 1.8em;
    position: relative;
    top: 0.3em;
    left: 0.3em;
    font-weight: 500;
    color: $GRADIENT_BOTTOM;
  }

  .quantity-price--group {
    font-size: 1.5em;
    padding-left: 0.1em;
    font-weight: 500;
    color: $GRADIENT_BOTTOM;
  }

  .price-diff {
    position: relative;
    top: 0.1em;
    margin-left: 0.2em;
    color: $GREY_TEXT_WHITE;
    font-size: 1em;
  }

  .quantity-box {
    position: absolute;
    top: 0.7em;
    right: 0.5em;
    width: 45%;
    border: 1px solid $GREY_BORDER_LINE;
    border-radius: 0.5em;
    height: 3.45em;
  }

  .button {
    height: 1em;
    padding: 1.75em 1em;
  }

  .subtract-box {
    border-right: 1px solid $GREY_BORDER_LINE;
    font-size: 0.8em;
    height: 4.2em;
  }

  .subtract-text {
    font-size: 1.2em;
    color: $GREY_ICON_WHITE;
  }

  .quantity-box {
    padding-left: 0.3em;
    padding-right: 0.3em;
  }

  .quantity-text {
    margin: auto;
  }

  .add-box {
    border-left: 1px solid $GREY_BORDER_LINE;
    height: 3.4em;
  }

  .add-text {
    color: $GREY_ICON_WHITE;
    font-size: 0.95em;
  }

}
