reservation-button {

  ion-grid {
    position: fixed;
    bottom: 0;
  }

  .bottom-tab {
    background-color: white;
    min-height: 4.4em;
    max-height: 4.4em;
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  .reserve-button {
    border-radius: 15em;
    margin-bottom: -0.4em;
    margin-left: 2.5%;
    height: 3.2em;
    width: 94%;
    @include my-img-shadow-blur();
  }

  .reserve-button-inactive {
    border-radius: 15em;
    margin-bottom: -0.4em;
    margin-left: 2.5%;
    height: 3.2em;
    width: 94%;
    background-color: $GREY_GRAB_BUTTON;
    @include my-custom-shadow($GREY_TEXT_WHITE);
  }

  .reserve-button-text {
    font-size: 1.8em;
    font-weight: 400;
    padding-top: 1em;
    padding-bottom: 1.1em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    text-transform: capitalize;
  }

}
