<ion-card class='picker-card'>
  <ng-container *ngIf="type === 'restaurant'">
    <ion-row>
      <ion-col>
        <button clear ion-button full no-padding class="button1" (click)="openDialler()">
          <ion-icon class="first-icon" name="custom-phone"></ion-icon>
          <span class="first-title">Call Them</span>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class='item-line'>
        <button clear ion-button full no-padding class="button2" (click)="openWhatsapp()">
          <ion-icon class="second-icon" name="custom-whatsapp"></ion-icon>
          <span class="second-title">Whatsapp Them</span>
        </button>
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="type === 'support'">
    <ion-row>
      <ion-col>
        <button clear ion-button full no-padding class="button1" (click)="openDialler()">
          <ion-icon class="first-icon" name="custom-messenger"></ion-icon>
          <span class="first-title">Messenger</span>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class='item-line'>
        <button clear ion-button full no-padding class="button2" (click)="openWhatsapp()">
          <ion-icon class="first-icon-2" name="custom-whatsapp"></ion-icon>
          <span class="first-title-2">Whatsapp</span>
        </button>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-card>

<div tappable class="dark-background" (click)="close()"></div>
